{% extends 'base.html'%}

{% block title %}list files{% endblock %}

{% block content %}
  <h2>list of files</h2>

    {% for task in object_list %}

    <h3>
        id:{{task.id}}
        creator:{{task.uploader}}
    </h3>
    <a href="{% url 'delete-file' task.id %}"><button type="submit">delete file</button> </a>


    {% endfor %}
{% endblock %}