{% extends 'base.html' %}

{% block title %} upload-files {% endblock %}

{% block content %}
uploader name:{{request.user}}
<form enctype="multipart/form-data" method="post" action="">{{form.as_p}}{% csrf_token %}
    <button type="submit">upload file</button>
</form>
<a href="{% url 'logout-user' %}"><button type="submit"> log out</button></a>
<a href="{% url 'list-task' %}"><button type="submit"> show list task</button></a>
<a href="{% url 'list-file' %}"><button type="submit"> show list file</button></a>

{% endblock %}