{% extends 'base.html'%}
{% block title %} signup page{% endblock %}
{% block content %}


<form method="post" action="">{% csrf_token %}
{{ form.as_p }} <button type="submit">create account</button>
</form>
{% endblock %}