{% extends 'base.html'%}
{% block title %}login user{% endblock %}
{% block content %}

<form method="post" action="">{% csrf_token %}
{{ form.as_p }} <button type="submit">Log in</button>
</form>
<a href="{% url 'signup-user' %}"><button type="submit">sign up</button> </a>
{% endblock %}