{% extends 'base.html'%}

{% block title%} create-task {% endblock %}
{% block content %}
<h2>welcome {{request.user}}</h2>
<form method="post" action="">{{form.as_p}} {% csrf_token %}
      <button type="submit">create task</button>
</form>
<a href="{% url 'logout-user' %}"><button type="submit"> log out</button></a>
<a href="{% url 'list-task' %}"><button type="submit"> show list</button></a>
<a href="{% url 'upload-file' %}"><button type="submit"> upload file</button></a>


{% endblock %}