{% extends 'base.html'%}
{% block title %}Hi {{request.user}}{% endblock %}
{% block content %}
  <h2>list of task doing</h2>
<ul>
    {% for task in object_list %}

    <h3>
        <li>
            id:{{task.id}}
            title:{{task.title}} -
    description:{{task.description}} -
    status:{{task.get_status_display}} -
        creator:{{task.creator}}
        - members:{% for member in task.members.all %}{{ member.username }},{% endfor %}
    </li>
    </h3>
    <a href="{% url 'update-task' task.id %}"><button type="submit">Edit</button> </a>
    <a href="{% url 'delete-task' task.id %}"><button type="submit">delete</button> </a>
    <a href="{% url 'upload-file'  %}"><button type="submit">upload file</button> </a>


    {% endfor %}

</ul>
 <a href="{% url 'create-task' %}"><button type="submit">create task</button> </a>
<a href="{% url 'logout-user' %}"><button type="submit"> log out</button></a>
{% endblock %}