{% extends 'base.html' %}

{% block title%} update and edit task {% endblock %}

{% block content %}
<form method="post" action="">{{form.as_p}}{% csrf_token %}
<button type="submit">save update</button>
</form>

<a href="{% url 'logout-user' %}"><button type="submit"> log out</button></a>
{% endblock %}